article {
    margin-top: 40px;
    margin-bottom: 40px;
}

.dark code {
    color: #90239c;
}

.dark strong {
  color: #fe9602;
}

.resources {
  border-bottom: None;
}

.muted p {
  padding-top: 5px;
}

a[itemprop="url"] {
  color: #ff2e88;
}

:target {
  color: #e98bfff5;
}
