{{ if ne .Site.Params.powered_by false }}
  <p><strong>Hack it up</strong></p>
  <p class="muted">
    Powered By:
  </p>
  <p>
    <a class="resources" target="_blank" href="https://comfusion.github.io/after-dark/"><img border="0" alt="after-dark" src="/images/after_dark_icon.png" width="30" height="30"></a>
    <a class="resources" target="_blank" href="https://gohugo.io/"><img border="0" alt="hugo" src="/images/hugo_icon.png" width="30" height="30"></a>
    <a class="resources" target="_blank" href="https://gitlab.com/"><img border="0" alt="gitlab" src="/images/gitlab_icon.png" width="30" height="30"></a>
    <a class="resources" target="_blank" href="https://aws.amazon.com/s3/"><img border="0" alt="aws s3" src="/images/s3_icon.png" width="30" height="30"></a>
  </p>
{{ end }}
